/* Noto Sans Japanese Fonts */

@font-face {
    font-family: "NotoSansJP-Black";
    src: url("NotoSansJP-Black.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansJP-Bold";
    src: url("NotoSansJP-Bold.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansJP-Light";
    src: url("NotoSansJP-Light.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansJP-Medium";
    src: url("NotoSansJP-Medium.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansJP-Regular";
    src: url("NotoSansJP-Regular.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansJP-Thin";
    src: url("NotoSansJP-Thin.otf") format("opentype");
}